In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/DataSets/PredictStudent/dataset.csv')

In [ ]:
data.describe

<bound method NDFrame.describe of       Marital status  Application mode  Application order  Course  \
0                  1                 8                  5       2
1                  1                 6                  1      11
2                  1                 1                  5       5
3                  1                 8                  2      15
4                  2                12                  1       3
...              ...               ...                ...     ...
4419               1                 1                  6      15
4420               1                 1                  2      15
4421               1                 1                  1      12
4422               1                 1                  1       9
4423               1                 5                  1      15

      Daytime/evening attendance  Previous qualification  Nacionality  \
0                              1                       1            1
1                              1                       1            1
2                              1                       1            1
3                              1                       1            1
4                              0                       1            1
...                          ...                     ...          ...
4419                           1                       1            1
4420                           1                       1           19
4421                           1                       1            1
4422                           1                       1            1
4423                           1                       1            9

      Mother's qualification  Father's qualification  Mother's occupation  \
0                         13                      10                    6
1                          1                       3                    4
2                         22                      27                   10
3                         23                      27                    6
4                         22                      28                   10
...                      ...                     ...                  ...
4419                       1                       1                    6
4420                       1                       1                   10
4421                      22                      27                   10
4422                      22                      27                    8
4423                      23                      27                    6

      ...  Curricular units 2nd sem (credited)  \
0     ...                                    0
1     ...                                    0
2     ...                                    0
3     ...                                    0
4     ...                                    0
...   ...                                  ...
4419  ...                                    0
4420  ...                                    0
4421  ...                                    0
4422  ...                                    0
4423  ...                                    0

      Curricular units 2nd sem (enrolled)  \
0                                       0
1                                       6
2                                       6
3                                       6
4                                       6
...                                   ...
4419                                    6
4420                                    6
4421                                    8
4422                                    5
4423                                    6

      Curricular units 2nd sem (evaluations)  \
0                                          0
1                                          6
2                                          0
3                                         10
4                                          6
...                                      ...
4419                                       8
4420                                       6
4421                                       9
4422                                       6
4423                                       6

      Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                       0                          0.000000
1                                       6                         13.666667
2                                       0                          0.000000
3                                       5                         12.400000
4                                       6                         13.000000
...                                   ...                               ...
4419                                    5                         12.666667
4420                                    2                         11.000000
4421                                    1                         13.500000
4422                                    5                         12.000000
4423                                    6                         13.000000

      Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                                  0               10.8
1                                                  0               13.9
2                                                  0               10.8
3                                                  0                9.4
4                                                  0               13.9
...                                              ...                ...
4419                                               0               15.5
4420                                               0               11.1
4421                                               0               13.9
4422                                               0                9.4
4423                                               0               12.7

      Inflation rate   GDP    Target
0                1.4  1.74   Dropout
1               -0.3  0.79  Graduate
2                1.4  1.74   Dropout
3               -0.8 -3.12  Graduate
4               -0.3  0.79  Graduate
...              ...   ...       ...
4419             2.8 -4.06  Graduate
4420             0.6  2.02   Dropout
4421            -0.3  0.79   Dropout
4422            -0.8 -3.12  Graduate
4423             3.7 -1.70  Graduate

[4424 rows x 35 columns]>

In [ ]:
data.columns

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance', 'Previous qualification', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Displaced',
       'Educational special needs', 'Debtor', 'Tuition fees up to date',
       'Gender', 'Scholarship holder', 'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [ ]:
data.isnull().sum()

Daytime/evening attendance                        0
Previous qualification                            0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [ ]:
data = data.dropna()

In [ ]:
"""data = data.drop('Marital status',axis=1)
data = data.drop('Application mode',axis=1)
data = data.drop('Application order',axis=1)
data = data.drop('Course',axis=1)
data = data.drop('Nacionality',axis=1)
data = data.drop("Mother's qualification",axis=1)
data = data.drop("Father's qualification",axis=1)
data = data.drop("Mother's occupation",axis=1)
data = data.drop("Father's occupation",axis=1)
data = data.drop("Debtor",axis=1)
data = data.drop("Gender",axis=1)
data = data.drop("Age at enrollment",axis=1)
data = data.drop("International",axis=1)
data = data.drop("Curricular units 1st sem (credited)",axis=1)
data = data.drop("Curricular units 2nd sem (credited)",axis=1)
data = data.drop("Curricular units 1st sem (enrolled)",axis=1)
data = data.drop("Curricular units 2nd sem (enrolled)",axis=1)
data = data.drop("Curricular units 1st sem (evaluations)",axis=1)
data = data.drop("Curricular units 2nd sem (evaluations)",axis=1)
data = data.drop("Curricular units 1st sem (approved)",axis=1)
data = data.drop("Curricular units 2nd sem (approved)",axis=1)
data = data.drop("Curricular units 1st sem (without evaluations)",axis=1)
data = data.drop("Curricular units 2nd sem (without evaluations)",axis=1)
data = data.drop("Inflation rate",axis=1)
data = data.drop("GDP",axis=1)"""

In [ ]:
data.head(5)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x = data[['Displaced','Curricular units 1st sem (grade)','Curricular units 2nd sem (grade)','Daytime/evening attendance','Previous qualification','Educational special needs','Tuition fees up to date','Scholarship holder','Unemployment rate','Application mode','Application order','Course','Nacionality',"Mother's qualification","Father's qualification","Mother's occupation","Father's occupation","Debtor","Gender","Age at enrollment","International","Curricular units 1st sem (credited)","Curricular units 2nd sem (credited)","Curricular units 1st sem (enrolled)","Curricular units 2nd sem (enrolled)","Curricular units 1st sem (evaluations)","Curricular units 2nd sem (evaluations)","Curricular units 1st sem (approved)","Curricular units 2nd sem (approved)","Curricular units 1st sem (without evaluations)","Curricular units 2nd sem (without evaluations)","Inflation rate","GDP"]]
y = data[['Target']]
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.2)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
import math
print(math.sqrt(len(y_test)))
print(math.sqrt(len(y_test))/2)

59.49789912257407
29.748949561287034

In [ ]:
model = KNeighborsClassifier(n_neighbors=29)
model.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/neighbors/_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=29)

In [ ]:
y_pred = model.predict(x_test)
y_pred

array(['Dropout', 'Graduate', 'Dropout', ..., 'Dropout', 'Graduate',
       'Graduate'], dtype=object)

In [ ]:
from sklearn.metrics import accuracy_score, f1_score

In [ ]:
print(accuracy_score(y_test, y_pred))

0.655367231638418